/*@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto);*/
@font-face { font-family:ptsans; src:url('../fonts/PTC55F.ttf'); } 
@font-face { font-family:ptsans_bold; src:url('../fonts/PTC75F.ttf'); }
@font-face { font-family:webly; src:url('../fonts/weblysleekuil.ttf'); } 
@font-face { font-family:webly_semi; src:url('../fonts/weblysleekuisl.ttf'); }
@font-face { font-family:webly_bold; src:url('../fonts/weblysleekuisb.ttf'); }

* { -webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	cursor:default; 
	margin:0px; padding:10px; } 

html, body { padding:0px; }

body { font-family:ptsans, Open Sans, Helvetica, sans; 
	font-size:14px; 
	color:#777; 
	letter-spacing:0px; 
	background-color:#f5f5f5; }

h1 { font-size:20px; 
	font-family:webly; }
h2 { font-size:24px; 
	color:#000; }
h3 { font-size:16pt; } 
h4 { font-size:16pt; 
	font-weight:normal; }
h6 { font-size:14px; 
	font-weight:normal; 
	color:#777;
	font-family:webly; } 

a { cursor:pointer; 
	padding:0px; } 

b { padding:0px; }

input { outline:none; 
	border:1px solid #ddd;
	font-family:webly;
	letter-spacing: 1px; 
	font-size:18px; 
	margin:10px; }
	input:focus { border:1px solid #46c2c2;
		box-shadow:0px 0px 5px rgba(83,206,208,0.5); }

	input[type="button"] { background-color:#54c3c1; 
		border:0px solid #54c3c1; 
		padding:10px 25px;
		color:#fff; 
		font-size:16px; 
		cursor:pointer; }
	input[type="button"]:hover { background-color:#5ececc; 
		text-shadow:0px 0px 5px #128483; }
	input[type="button"]:active { background-color:#46bcba; 
		box-shadow:0px 0px 5px rgba(83,206,208,0.5); }
	input[type="button"]:focus { border:0px solid #54c3c1; }

	input[type="text"], 
	input[type="password"] { cursor:text; } 

content { display:block; 
	padding:0px; } 

.row { display:flex; 
	padding:0px; 
	vertical-align:top; }

.col-1,.col-2,.col-3,.col-4, 
.col-5,.col-6,.col-7,.col-8, 
.col-9,.col-10,.col-11,.col-12 { display:inline-block; 
	margin:0px; } 

.col-0 { width:0%; } /* used for customed width padding */
.col-1 { width:6%; } 
.col-2 { width:14%; } 
.col-3 { width:23%; } 
.col-4 { width:31%; } 
.col-5 { width:40%; } 
.col-6 { width:48%; } 
.col-7 { width:56%; } 
.col-8 { width:65%; } 
.col-9 { width:73%; } 
.col-10 { width:82%; } 
.col-11 { width:90%; } 
.col-12 { width:100%; } 

.template { display:block; 
	padding:0px; }

section { display:block; } 


.container { position:relative; 
	left:50%; 
	margin-left:-650px; 
	width:1260px; }

.container-fluid { display:block; 
	width:100%; 
	padding:0px; }

.card { display:block; 
	background-color:#fff; 
	margin:20px;  
	box-shadow:0px 0px 10px rgba(0,0,0,0.2); }

	.card.transparent { background-color:rgba(255,255,255,0); 
		box-shadow:0px 0px 0px rgba(0,0,0,0); } 