@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto);*/
@font-face { font-family:ptsans; src:url('_fonts/PTC55F.ttf'); }
@font-face { font-family:ptsansb; src:url('_fonts/PTC55F.ttf'); }
@font-face { font-family:ptsans_bold; src:url('_fonts/PTC75F.ttf'); }
@font-face { font-family:webly; src:url('_fonts/weblysleekuil.ttf'); } 
@font-face { font-family:webly_semi; src:url('_fonts/weblysleekuisl.ttf'); }
@font-face { font-family:webly_bold; src:url('_fonts/weblysleekuisb.ttf'); }

* { -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	cursor:default; 
	margin:0px; padding:10px; }

body { font-family:ptsansb; 
	font-size:14px; 
	color:#777; 
	letter-spacing:1px; 
	background-color:#f5f5f5; }

h1 { font-size:20px; 
	font-family:webly; }
h2 { font-size:24px; 
	letter-spacing:0px; 
	color:#000; }
h3 { font-size:16pt; } 
h4 { font-size:16pt; 
	font-weight:normal; }
h6 { font-size:14px; 
	font-weight:normal; 
	color:#777;
	font-family:webly;}

b { padding:0px; }

section { display:block; } 

content { display:block; 
	width:1200px; 
	background-color:#fff; 
	margin:20px;  
	/*padding-bottom:50px; */
	box-shadow:0px 0px 10px rgba(0,0,0,0.2); 
	/*border:1px solid blue;*/ }



/* 
  ===============
	MAIN LAYOUT 
  =============== 
*/ 

/* -= Navigation =- */
nav { display:block; 
	position:fixed; 
	top:0px; left:0px; 
	width:270px; height:100%; 
	padding:0px; 
	background-color:#363636; }

/* -= Activity =- */
.activity { display:block; 
	position:absolute; 
	width:1300px; 
	top:0px; left:270px; 
	/*border:1px solid green;*/ }



/* 
  ===============
	GRID CLASSES 
  ===============
*/ 

/* -= half =- */ 
.half { display:inline-block; 
	width:568px; 
	vertical-align:top; 
	/*background-color:#f00;*/ } 

/* -= third =- */ 
.third { display:inline-block; 
	width:356px; 
	vertical-align:top; 
	/*background-color:#ff0;*/ }

/* -= fourth =- */ 
.fourth { display:inline-block; 
	width:250px; 
	vertical-align:top; 
	/*background-color:#0ff;*/ }



/* 
  ===========
	TOP INFO 
  ===========
*/ 

/* -= session =- */ 
.info { background-color:transparent !important; 
	box-shadow:none; 
	padding:0px; }

	.info #sessionid { font-size:58px; 
		font-family:webly_bold; 
		line-height:50px; 
		color:#000; }

/* -= meta =- */ 
.meta { background-color:transparent !important; 
	box-shadow:none; 
	color:#aaa; }

	.meta div { display:block; 
		height:60px; 
		line-height:52px; 
		padding:0px; 
		padding-left:60px; 
		background-repeat:no-repeat; } 

		.meta #age 		{ background-image:url('../_imgs/_webicons/age.png'); } 
		.meta #gender 	{ background-image:url('../_imgs/_webicons/gender.png'); } 
		.meta #gamer_yes { background-image:url('../_imgs/_webicons/gamer_yes.png'); } 
		.meta #gamer_no { background-image:url('../_imgs/_webicons/gamer_no.png'); } 
		.meta #funds 	{ background-image:url('../_imgs/_webicons/funds.png'); } 
		.meta #pc 		{ background-image:url('../_imgs/_webicons/polcap.png'); } 
		.meta #level 	{ background-image:url('../_imgs/_webicons/level.png'); } 
		.meta #time 	{ background-image:url('../_imgs/_webicons/time.png'); } 
		.meta #status 	{ background-image:url('../_imgs/_webicons/status.png'); } 
		.meta #completed { background-image:url('../_imgs/_webicons/completed.png'); } 

	.meta b { font-weight:normal; 
		color:#666; } 

		.meta #status b { color:#ddd; } 
		.meta #status .chosen { color:#46c2c2; 
			padding:0px; 
			font-family:ptsans_bold; }



/* 
  ============
	GAME DATA
  ============
*/ 

/* -= gamemap =- */ 
.game { height:830px; }

	.game svg { background-color:#ded; 
		padding:0px; margin:0px; 
		z-index:100; } 
	.game .grid { display:block; 
		position:relative; 
		top:-10px; left:-10px; 
		width:1200px; height:700px; 
		z-index:100; }
	.game .frame { display:block; 
		position:relative; 
		top:-720px; 
		width:1200px; height:700px; 
		background-image:url('../_imgs/gameframe.png'); 
		background-repeat:no-repeat; 
		background-color:transparent !important; 
		z-index:900; }

	.game .maptype { /*display:block; */
		position:relative; 
		top:710px; 
		margin:auto; 
		width:1100px; height:25px; 
		text-align:center;
		/*border:1px solid red;*/ } 
	
		.maptype .option { text-align:center; 
			font-size:8pt; 
			color:#777; 
			background-color:#f3f3f3;
			border:1px solid #bbb; 
			border-radius:4px; 
			cursor:pointer; }
		.maptype .option:hover { color:#888; 
			background-color:#fff; 
			border:1px solid #aaa; 
			box-shadow:0px 1px 1px rgba(50,50,50,0.2); }
		.maptype .option:active { color:#000; 
			background-color:#fff; 
			border:1px solid #777; 
			box-shadow:0px 0px 1px rgba(50,50,50,0.2); } 














/* 
  ===============
	MAIN LAYOUT 
  =============== 
*/ 

/*
.logo { display:block; 
	width:250px; height:41px; 
	padding:20px 0px; 
	background-image:url('../_imgs/logo.png'); 
	background-repeat:no-repeat; 
	background-position:15px 10px; }

#logout { display:block; 
	position:fixed; 
	top:10px; right:10px; 
	color:#a00;
	cursor:pointer; 
	z-index:1000; }
	#logout:hover { color:#f00; }


.meta { display:inline; 
	font-size:12pt; 
	color:#999; }

.usermenu { display:block; 
	position:fixed; 
	top:0px; left:0px; 
	width:270px; 
	height:100%; 
	background-color:#363636; 
	overflow-y:auto; 
	color:#fff; 
	padding:0px; 
	margin:0px; 
	z-index:90; } 

	.usermenu h1 { display:block; 
		padding:20px; }

	.usermenu li { list-style:none; 
		color:#aaa; 
		padding:10px; 
		cursor:pointer; }
	.usermenu li:hover { color:#fff; 
		background-color:#444; }

	.usermenu li.selected { color:#fff; 
		background-color:#6af; }

	.menuoption { display:block; 
		visibility:hidden; 
		position:fixed; 
		top:43px; left:0px; 
		width:16px; 
		height:20px; 
		color:#666; 
		line-height:10px; 
		font-size:34pt; 
		background-color:#333; 
		border-radius:0px 10px 10px 0px;
		padding:10px 12px 10px 5px; 
		cursor:pointer; }
		.menuoption:hover { background-color:#444; 
			color:#fff; }

.useractivity { display:block; 
	position:absolute; 
	top:0px; left:250px; 
	background-color:#f5f5f5; 
	z-index:80; } 

.whole { display:block; 
	width:1200px; 
	padding:0px; 
	vertical-align: top; } 

.half { display:inline-block; 
	width:585px; 
	padding-left:0px; 
	vertical-align: top; }

.third { display:inline-block; 
	width:29%; 
	padding-left:0px; 
	vertical-align: top; } 

.fourth { display:inline-block; 
	width:21%; 
	padding-left:0px; 
	vertical-align:top; }

.fifth { display:inline-block; 
	width:18%; 
	margin:0px; }

.positive { color:#0c0; }
.negative { color:#f00; } 

.normalize { padding-bottom:10px; }
*/

	/*
	  -------------
		Resources 
	  -------------
	*/ 
	/*
	.info { padding-bottom:20px; }
	.resources { padding-top:0px; }

	.resources h4 { background-position:left 11px; 
		background-repeat:no-repeat; 
		padding-left:40px; }

	.resources h4#funds { background-image:url('../_imgs/resources_funds.png'); } 
	.resources h4#pc { background-image:url('../_imgs/resources_pc.png'); } 
	.resources h4#timer { background-image:url('../_imgs/timer.png'); } 
	.resources h4#completed { background-image:url('../_imgs/completed.png'); } 
	.resources h4#level { background-image:url('../_imgs/level.png'); } 
	.resources h4#status { background-image:url('../_imgs/endstatus.png'); } 
		.resources h4#status .label { color:#ddd; font-weight:normal; }
		.resources h4#status .label .chosen { color:#09f; font-weight:bold; }
		*/

	/*
	  ------------
		Gameview 
	  ------------
	*/ 
	/*
	.game svg { display:block; 
		padding:0px; 
		width:1200px; 
		height:700px; 
		background-image:url('../_imgs/content_gray.png');
		border:1px solid #6af; }

	.game div { display:block; 
		background-image:url('../_imgs/content.png'); 
		border:1px solid #6af; 
		padding:0px; 
		z-index:0; }

	.game .uimenu { position:absolute; 
		margin-top:5px; 
		margin-left:10px; 
		width:315px; height:645px; }

	.game .bottomnav { position:absolute; 
		margin-top:650px; 
		margin-left:10px; 
		width:890px; height:50px; }

	.game .minimap { position:absolute; 
		margin-top:400px; 
		margin-left:895px; 
		width:300px; height:300px; 
		border-radius:300px; }

	.maptype { display:block; 
		text-align:center; }
	
		.maptype .option { text-align:center; 
			font-size:8pt; 
			color:#777; 
			background-color:#f3f3f3;
			border:1px solid #bbb; 
			border-radius:4px; 
			cursor:pointer; }
		.maptype .option:hover { color:#888; 
			background-color:#fff; 
			border:1px solid #aaa; 
			box-shadow:0px 1px 1px rgba(50,50,50,0.2); }
		.maptype .option:active { color:#000; 
			background-color:#fff; 
			border:1px solid #777; 
			box-shadow:0px 0px 1px rgba(50,50,50,0.2); }
	*/


	/*
	  -------------------
		Camera Movement 
	  -------------------
	*/ 
	/*
	.movement { display:block; 
		padding:0px; 
		padding-bottom:15px; } 

		.movement .icon { display:inline-block; 
			width:58px; height:60px; 
			background-repeat:no-repeat; 
			padding:0px; }
		.movement#drag .icon { background-image:url('../_imgs/drag.png'); }
		.movement#arrows .icon { background-image:url('../_imgs/arrow.png'); }
		.movement#keys .icon { background-image:url('../_imgs/key.png'); }

		.movement .bargraph { display:inline-block; 
			position:relative; 
			top:0px; 
			width:450px; height:40px; 
			padding:0px; }

		.movement .bar { display:block; 
			width:450px; height:40px; 
			background-color:#dff3ff; /*#cff1ff; *//*
			background-image:url('../_imgs/content_gray.png');
			position:absolute; 
			border-radius:40px; 
			top:-22px; }

			.movement .bar .model { display:block; 
				/*width:350px; *//*
				height:40px; 
				/*background-color:#73d0f4;*/ /*#61c2e8;*/ /*#46abd3;*/ /*#42fc9f;*/
				/*background-image:url('../_imgs/content.png');*//*
				position:absolute; 
				border-radius:40px; 	
				top:0px; left:0px; }

			.movement .bar .label { display:inline-block; 
				color:#fff; 
				text-shadow:0px 0px 5px rgba(40,138,177,0.9);  
				font-size:20pt; 
				font-weight:bold; 
				position:absolute; 
				top:3px; left:6px; 
				/*top:-34px;*//* }

				.movement .zero .model { background-color:#bbb; }
				.movement .zero .label { text-shadow:0px 0px 5px rgba(0,0,0,0.4);  }
	*/

	/*
	  -------------- 
		Panel Time 
	  -------------- 
	*/
	/*
	.panel { display:inline-block; 
		width:286px; height:214px; 
		line-height:214px; 
		text-align: center; 
		font-weight:bold; 
		font-size:40pt; 
		padding:0px; } 

		.panel#on { background-image:url('../_imgs/panel_on.png'); } 
		.panel#off { background-image:url('../_imgs/panel_off.png'); 
			background-position:0px 4px; } 

		.panel#off .label { text-shadow:0px 0px 4px rgba(50,50,50,0.1); }
	*/

	/*
	  -------------- 
		Score Rate
	  -------------- 
	*/ 
	/*
	.score { background-position:0px 10px; 
		background-repeat:no-repeat; }

	/*.score#environ { background-image:url('../_imgs/environ_score.png'); }
	.score#economy { background-image:url('../_imgs/economy_score.png'); }*//*
	
		.score .graphplot { display:inline-block; 
			position:relative; 
			top:0px; left:0px; 
			width:544px; height:220px; 
			padding:0px; 
			background-image:url('../_imgs/graph.png'); }

			.score .graphplot svg { position:relative; 
				left:8px; }

		.data { display:block; 
			font-size:12pt; 
			padding:5px; 
			padding-left:40px; background-position:0px 10px; 
			background-repeat:no-repeat; }

			.data#environ { background-image:url('../_imgs/environ_score.png'); }
			.data#economy { background-image:url('../_imgs/economy_score.png'); }

			.data .text { display:block; }
			.data .label { padding:0px; 
				font-weight:bold; } 
			.data svg { border:1px solid red; }
	*/

	/*
	  -------------- 
		Node Rate
	  -------------- 
	*/
	/* 
	.table { display:block; 
		padding:0px; } 

	.table .row { display:block; 
		padding:0px; 
		margin:auto; } 
		.table .row:nth-child(2n+1) { background-color:#eee; }


		.table .row:hover { background-color:#fffa93; } 
		/*.table .row:nth-child(2n+1):hover { background-color:#fff499; } *//*

		.table .row:nth-child(1),
		.table .row:nth-child(1):hover { background-color:#61c2e8; 
			color:#fff; } 

		.table .row .header { font-weight:bold; 
			text-align:center; 
			padding:8px; 
			margin:auto; } 

		.table .row .datum { padding:10px; 
			margin:auto; } 
	*/

	/*
	  --------------- 
		Region Data
	  --------------- 
	*/ 
	/*
	.region .row div:nth-child(1) { width:50px; }

	/*
	.region .half { border:1px solid red; }*//*
	.region .half:nth-child(3) { width:515px; 
		padding-left:70px; }

	.navigation { display:block; 
		padding:0px; 
		padding-bottom:15px; } 

		.navigation .bargraph { display:inline-block; 
			position:relative; 
			top:0px; 
			width:450px; height:40px; 
			padding:0px; }

		.navigation .bar { display:block; 
			width:450px; height:40px; 
			background-color:#dff3ff; /*#cff1ff; *//*
			background-image:url('../_imgs/content_gray.png');
			position:absolute; 
			border-radius:40px; }

			.navigation .bar div { display:block; 
				width:350px; 
				height:40px; 
				background-color:#73d0f4;
				position:absolute; 
				top:0px; left:0px; }

			.navigation .bar .label { display:inline-block; 
				color:#fff; 
				text-shadow:0px 0px 5px rgba(40,138,177,0.9);  
				font-size:12pt; 
				position:absolute; 
				top:10px; left:6px; }

				.movement .zero div { background-color:#bbb; }
				.movement .zero .label { text-shadow:0px 0px 5px rgba(0,0,0,0.4);  }

				.navigation .bar #minimap { border-radius:40px 0px 0px 40px; 
					background-color:#4cb4dd; }
				.navigation .bar #regkeys { border-radius:0px 40px 40px 0px; }
	*/

/*
@media only screen and (max-width:1500px) {
	body { background-color:#fff; }

	.useractivity { left:0px; }
	.usermenu { left:-250px; 
		background-color:rgba(51,51,51,.8); }
		.usermenu li:hover:not(.selected) { background-color:rgba(0,0,0,.5); }

	.menuoption { visibility:visible; 
		color:#ccc; 
		background-color:rgba(51,51,51,.8); }
		.menuoption:hover { background-color:rgba(81,81,81,.7); }
}
