/* 
 *  VIDEO 
 */ 

body { 
	background-image:url('../imgs/bg.png'); 
	background-position:top center; 
	background-repeat:no-repeat; 
	background-size:cover; 
	background-color:#000; 
	overflow-x:hidden; 
	overflow-y:hidden; }

video { 
	position: absolute; 
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	left: 0px; top: 0px; 
	min-height: 100%; min-width: 100%; 
	z-index: 1; 
	background-image:url('../imgs/bg.png'); 
	background-repeat:no-repeat;
	background-size: cover; 
	padding:0px; margin:0px; }

.lightbox { 
	position: absolute; 
	left: 0px; top: 0px; 
	height: 100%; width: 100%; 
	z-index: 2; 
	background-image:url('../imgs/bg_curtain.png'); 
	background-repeat:repeat; 
	color:#fff; 
	padding:0px; } 

.home_description { display:block; 
	width:800px; 
	height:800px; 
	position:absolute; 
	top:50%; left:50%; 
	margin-top:-360px; 
	margin-left:-400px;  
	color:#fff; 
	text-align:center; 
	font-family:webly; 
	letter-spacing:1px; 
	line-height:29px; 
	color:#ddd; 
	font-size:12pt; }

	.home_description p { width:600px; margin:auto; margin-bottom:10px; }
	.home_description .button { width:150px; margin:0px 10px; }

.logo { display:block; 
	width:780; height:168px; 
	background-image:url('../imgs/logo.png'); 
	background-position:center center; 
	background-repeat:no-repeat; } 

section.footer { display:block; 
	position:absolute; 
	bottom:0px; 
	width:100%; }


/*@media screen and (min-width:799px) {*/
/*@media screen and (max-width:2000px) {*/
@media screen and (max-height:1000px) {
	section.footer {
		bottom:-200px; 
	}

	body { 
		overflow-y:scroll; 
	}

	.home_description {
		margin-top:-250px;
	}
}