
nav { position:fixed; 
	width:100%; height:40px; 
	background-color:rgba(39,40,34,0.9); 
	z-index:1001; }

	nav a { color:#fff; 
		text-decoration:none; } 
	nav a:hover { color:#54c3c1; } 

	nav #logo { display:inline-block; 
		width:250px; height:50px; 
		position:relative; 
		top:-15px; left:-15px; 
		background-image:url('../../../app/imgs/logo.png'); 
		background-position:center center; 
		background-repeat:no-repeat; 
		padding:0px; }

	nav #logout { float:right; } 

.main { position:absolute; 
	top:60px; left:0px; }


#sessionid { display:block; 
	font-family:webly_bold; 
	font-size:58px; 
	line-height:50px; 
	color:#000; 
	padding-bottom:20px; }

.meta { height:30px; 
	line-height:30px; 
	padding-left:60px; 
	margin:5px 0px; 
	background-repeat:no-repeat; 
	background-position:left center; } 

	.meta#ipaddr { background-image:url('../../../app/imgs/_webicons/ipaddr.png'); } 
	.meta#iploc { background-image:url('../../../app/imgs/_webicons/iploc.png'); } 
	.meta#funds { background-image:url('../../../app/imgs/_webicons/funds.png'); } 
	.meta#pc { background-image:url('../../../app/imgs/_webicons/polcap.png'); } 
	.meta#level { background-image:url('../../../app/imgs/_webicons/level.png'); } 
	.meta#time { background-image:url('../../../app/imgs/_webicons/time.png'); } 
	.meta#status { background-image:url('../../../app/imgs/_webicons/status.png'); } 
	.meta#completed { background-image:url('../../../app/imgs/_webicons/completed.png'); }

.game { height:830px; } 

	.game .grid { 
		display:block; 
		position:relative; 
		top:-10px; 
		left:-10px; 
		width:1200px; 
		height:700px; 
		z-index:901; }

	.game .frame { 
		display:block; 
		position:relative; 
		top:-720px; 
		width:1200px; 
		height:700px; 
		background-image:url('../../../app/imgs/gameframe.png'); 
		background-repeat:no-repeat; 
		background-color:transparent !important; 
		z-index:900; } 

	.game .maptype { position:relative; 
		top:710px; 
		margin:auto; 
		width:1100px; 
		height:25px; 
		text-align:center; } 

		.game .maptype .option { 
			text-align:center; 
			font-size:8pt; 
			color:#777; 
			background-color:#f3f3f3; 
			border:1px solid #bbb; 
			border-radius:4px; 
			cursor:pointer; }

			.game .maptype .option:hover { background-color:#fff; } 
			.game .maptype .option:active { color:#333; 
				border:1px solid #777; } 